#header{
    height: 100px;
    padding: 10px;
    background-color: #0CAFFF;
    color:white;
}
#header a{
    color: white;
}
.home{
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.linkWrapper{
    display:inline-block;
}
.body{
    max-height: 100%;
    min-height: 100vh;
    padding: 20px;
}
.cont{
   width:97%;
   margin: 20px;  
}
.searchBarContainer{
    margin-bottom:10px ;
    border: black 1px solid;
    width: 250px;
    height: 40px;
    border-radius:3px ;
    padding-left:3px;
    padding-top: 3px;

}
.icon{
    display: inline;
    right: 10px;
}
#searchBar{
    height: 30px;
    border: white;
}
#searchBar:focus{
    outline: none;
}
.thumbnails{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.searchResults{
    min-height: 40px;
    max-height: 200px;
    padding: 10px;
    overflow-y:scroll;
    border-radius: 2px;
    background-color: white;
    width: 80%;
    margin-bottom: 20px;
}
.mainThumbnail{
    float: left;
    margin-right: 20px;
    height: 300px;
    width: 300px;
}
.order{
    margin: 10px;
}
.orderTitle{
    display: inline-block;
}
.homeTitle{
    font-size: 50px;
}
.orderSubtitle{
    display: flex;
}
.emptyThumbnail{
    height:300px;
    width: 300px;
    border: black 1px solid;
}
.homeThumbnails{
    height: 300px;
    width: 300px;
}
.none{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border: black solid 0.5px;
}
.infoLink{
    color:#0CAFFF;
}
.infoLink:hover{
    color: #0CAFFF;
}
.bookContainer{
    min-width: 40%;
    max-width: 80%;
    min-height: 500px;
    max-height: 80%;
    padding: 20px;
}
.page-item{
    cursor: pointer;
    font-size: 20px;
}
#footer{
    background-color: #0CAFFF;
    height: 60px;
    padding: 20px;
    color: white;
}

